In [2]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import sys
import datetime 

min_p = 0
j = 0
d = 1 #Day

# Print iterations progress
# ราย15 วินาทีเป็น 15นาที แสดงว่ามีข้อมูล 96 ค่าข้อมูลต่อหนึ่งวัน ดังนั้นถ้าต้องการข้อมูลในรายชม.ในหนึ่งวัน จะต้องได้ 24ชั่วโมง = 24 ค่าข้อมูล 
time_a = pd.date_range('2016-09-01', periods=24*d, freq='60T')
time_b = pd.date_range('2016-09-01 00:59:59', periods=24*d, freq='60T')


conn= MySQLdb.connect("localhost","conn","hems","power")
c = conn.cursor()

####### set databases to empty #########
# query_empty = """truncate table PV.15T""" 
# c.execute(query_empty)
# print "PV.15T are Empty!!! \n"
# print "Progress:",

while (j <= (24*d)-1) :
    query = "SELECT Timestamp,s11 FROM power.enegate_bkk WHERE Timestamp >= '%s'   AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df = pd.read_sql(query, conn)
#     df.cTime =  pd.Series(pd.to_datetime(df.Timestamp))    #เปลี่ยน Timestamp ใน pd เป็นรูปแบบของ datetime ที่สามารถนำมาใช้ต่อได้
    df['s11'] = df['s11'].astype(float)
    print len(df)
    
    if len(df) == 0 :
        min_p = 0
    else :
        for i in range(len(df)):
            min_p += df.s11[i]        
        min_p = min_p/len(df)
        #df.to_csv('out.csv')
    print time_a[j] , "-->" ,min_p ," W/Hr."
#     c.execute("INSERT INTO watt.watt_1hr (Timestamp, watt) VALUES ( %s, %s)",(time_a[j],min_p))
#     conn.commit()
    min_p = 0
    j += 1
       
#     print ".",
print(".DONE!")

236
2016-09-01 00:00:00 --> 1649.69491525  W/Hr.
236
2016-09-01 01:00:00 --> 1470.50847458  W/Hr.
236
2016-09-01 02:00:00 --> 1349.38983051  W/Hr.
236
2016-09-01 03:00:00 --> 1324.06779661  W/Hr.
235
2016-09-01 04:00:00 --> 1268.42553191  W/Hr.
236
2016-09-01 05:00:00 --> 1283.49152542  W/Hr.
236
2016-09-01 06:00:00 --> 1427.89830508  W/Hr.
235
2016-09-01 07:00:00 --> 1991.38723404  W/Hr.
236
2016-09-01 08:00:00 --> 921.86440678  W/Hr.
236
2016-09-01 09:00:00 --> 853.93220339  W/Hr.
235
2016-09-01 10:00:00 --> 729.804255319  W/Hr.
236
2016-09-01 11:00:00 --> 443.694915254  W/Hr.
236
2016-09-01 12:00:00 --> 389.796610169  W/Hr.
236
2016-09-01 13:00:00 --> 476.542372881  W/Hr.
235
2016-09-01 14:00:00 --> 464.170212766  W/Hr.
236
2016-09-01 15:00:00 --> 553.423728814  W/Hr.
236
2016-09-01 16:00:00 --> 567.86440678  W/Hr.
236
2016-09-01 17:00:00 --> 862.677966102  W/Hr.
235
2016-09-01 18:00:00 --> 1811.74468085  W/Hr.
236
2016-09-01 19:00:00 --> 1900.27118644  W/Hr.
234
2016-09-01 20:00:00 --> 1939.48717949  W/Hr.
234
2016-09-01 21:00:00 --> 1662.66666667  W/Hr.
236
2016-09-01 22:00:00 --> 1712.03389831  W/Hr.
235
2016-09-01 23:00:00 --> 1939.2  W/Hr.
.DONE!

In [21]:
print time_a[5]

2016-09-01 01:15:00

In [23]:
print time_b[5]

2016-09-01 01:29:59

In [4]:
len(df)

235

In [6]:
print df

              Timestamp     s11
0   2016-09-01 23:00:12  1656.0
1   2016-09-01 23:00:27  1656.0
2   2016-09-01 23:00:42  1656.0
3   2016-09-01 23:00:57  1632.0
4   2016-09-01 23:01:13  1632.0
5   2016-09-01 23:01:28  1632.0
6   2016-09-01 23:01:43  1632.0
7   2016-09-01 23:01:59  1632.0
8   2016-09-01 23:02:14  1680.0
9   2016-09-01 23:02:29  1656.0
10  2016-09-01 23:02:44  1656.0
11  2016-09-01 23:03:00  1656.0
12  2016-09-01 23:03:15  1896.0
13  2016-09-01 23:03:30  1848.0
14  2016-09-01 23:03:45  1848.0
15  2016-09-01 23:04:01  2160.0
16  2016-09-01 23:04:16  1848.0
17  2016-09-01 23:04:31  1848.0
18  2016-09-01 23:04:46  1848.0
19  2016-09-01 23:05:02  1848.0
20  2016-09-01 23:05:17  1896.0
21  2016-09-01 23:05:32  1872.0
22  2016-09-01 23:05:48  1896.0
23  2016-09-01 23:06:03  1920.0
24  2016-09-01 23:06:18  1896.0
25  2016-09-01 23:06:33  1896.0
26  2016-09-01 23:06:49  1896.0
27  2016-09-01 23:07:04  1896.0
28  2016-09-01 23:07:19  1896.0
29  2016-09-01 23:07:35  1872.0
..                  ...     ...
205 2016-09-01 23:52:22  1968.0
206 2016-09-01 23:52:37  1968.0
207 2016-09-01 23:52:52  1968.0
208 2016-09-01 23:53:08  1968.0
209 2016-09-01 23:53:23  1944.0
210 2016-09-01 23:53:38  1992.0
211 2016-09-01 23:53:54  1968.0
212 2016-09-01 23:54:09  1968.0
213 2016-09-01 23:54:24  1968.0
214 2016-09-01 23:54:39  1968.0
215 2016-09-01 23:54:55  1968.0
216 2016-09-01 23:55:10  1992.0
217 2016-09-01 23:55:25  1944.0
218 2016-09-01 23:55:40  1944.0
219 2016-09-01 23:55:56  1992.0
220 2016-09-01 23:56:11  1968.0
221 2016-09-01 23:56:26  1992.0
222 2016-09-01 23:56:41  1992.0
223 2016-09-01 23:56:57  1968.0
224 2016-09-01 23:57:12  1992.0
225 2016-09-01 23:57:27  1992.0
226 2016-09-01 23:57:43  1992.0
227 2016-09-01 23:57:58  1992.0
228 2016-09-01 23:58:13  1968.0
229 2016-09-01 23:58:28  1992.0
230 2016-09-01 23:58:44  1944.0
231 2016-09-01 23:58:59  1944.0
232 2016-09-01 23:59:14  1992.0
233 2016-09-01 23:59:29  1968.0
234 2016-09-01 23:59:45  1920.0

[235 rows x 2 columns]